{:paths ["src"]
 :deps {com.fulcrologic/fulcro {:mvn/version "3.9.5"}
        com.wsscode/pathom {:mvn/version "2.4.0"}}
 :aliases
 {:nrepl
  {:extra-deps
   {nrepl/nrepl {:mvn/version "1.7.0"}}
   :main-opts
   ["-m" "nrepl.cmdline" "--port" "7888"]}
  :test {:extra-paths ["test"]
         :extra-deps  {fulcrologic/fulcro-spec {:mvn/version "3.2.8"}}}
  }
 }
